/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./timer.css');
@import url('./snackbar.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.lobby {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 100px;
}

.lobby-link {
  background-color: #4e75ff;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  transition: 0.5s background-color cubic-bezier(0.075, 0.82, 0.165, 1);
}

.lobby-link:hover {
  background-color: #6c8cff;
}
